<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">update</property>
    
    <property name="cache.use_second_level_cache">true</property>
    <property name="cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
    
    
    <!--  <mapping class="com.learning.Hibernate.Product"/>
    <mapping class="com.learning.Hibernate.primaryKeyGeneration.Course"/>
    
    <mapping class="com.learning.Hibernate.crud.Student"/>
    <mapping class="com.learning.Hibernate.association.Employee"/>
    <mapping class="com.learning.Hibernate.association.Address"/>
    <mapping class="com.learning.Mapping.OneToOne.User"/>
    <mapping class="com.learning.Mapping.OneToOne.Vehicle"/>
    
    <mapping class="com.learning.Mapping.OneToMany.Worker"/>
    <mapping class="com.learning.Mapping.OneToMany.Account"/>
     <mapping class="com.learning.Mapping.ManyToMany.Student"/>
     <mapping class="com.learning.Mapping.ManyToMany.Course"/>
     
     <mapping class="com.learning.Hibernate.fetchType.Category"/>
     <mapping class="com.learning.Hibernate.fetchType.Product"/>
     
     <mapping class="com.learning.Hibernate.lifeCycle.Vehicle"/>
     <mapping class="com.learning.Hibernate.caching.Employee"/>
     <mapping class="com.learning.Hibernate.second_level_caching.Student"/>-->
     <mapping class="com.learning.Hibernate.HQL.Product"/>
    
  </session-factory>
</hibernate-configuration>